body {
    font-family: "Roboto", "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo span {
    color: #4D5AE5;
}

li.nav a {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.32px;
}

li.nav:hover a {
    color: #404BBF;
}

li.nav:active a {
    text-decoration: underline;
}

li.address a {
    color: #434455;
    font-weight: 400;
}

li.address:hover a {
    color: #404BBF;
}

.button {
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border:none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

h1, h2, h3 {
    color: #2E2F42;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    letter-spacing: 1.12px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72;
    text-transform: capitalize;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
}

p {
    letter-spacing: 0.32px;
}

.solutions {
    background-color: #2E2F42;
}

.our-team {
    background-color: #F4F4FD;
}

.our-team-card {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio-card {
    border: 1px solid #E7E9FC;
    background-color: #FFFFFF;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    letter-spacing: 0.32px;
}